<launch>
 <!-- Sash_and_Balance_Door_Details -->

	<arg
		name="s_name"
		default="Sash_and_Balance_Door"/>
	<arg
		name="s_connection_mode"
		default="serial"/>
	<arg
		name="s_address"
		default="None"/>
	<arg
		name="s_port"
		default="COM15"/>
	<arg
		name="s_simulation"
		default = 'False'/>
	<node
		name="sash_and_balance_door_driver"
		pkg="roslabware_drivers"
		type="sash_and_balance_door"
		args="
			-sd $(arg s_name)
			-sc $(arg s_connection_mode)
			-sadd $(arg s_address)
			-sp $(arg s_port)
			-ss $(arg s_simulation)"
		output="screen"/>

 <!-- Base_Valve_Details -->

    <arg
		name="bv_device_name"
		default="base_valve"/>
	<arg
		name="bv_connection_mode"
		default="serial"/>
	<arg
		name="bv_address"
		default="None"/>
	<arg
		name="bv_port"
		default="COM5"/>
	<arg
		name="bv_simulation"
		default="False"/>
	<node
		name="base_valve"
		pkg="roslabware_drivers"
		type="base_valve"
		args="
			-bvd $(arg bv_device_name)
			-bvc $(arg bv_connection_mode)
			-bvadd $(arg bv_address)
			-bvp $(arg bv_port)
			-bvl $(arg bv_simulation)"
		output="screen"/>

 <!-- Filtration_System_Details -->

    <arg
		name="f_device_name"
		default="filtration_system"/>
	<arg
		name="f_connection_mode"
		default="serial"/>
	<arg
		name="f_address"
		default="None"/>
	<arg
		name="f_port"
		default="COM14"/>
	<arg
		name="f_simulation"
		default="False"/>
	<node
		name="filtration_system"
		pkg="roslabware_drivers"
		type="filtration_system"
		args="
			-fd $(arg f_device_name)
			-fc $(arg f_connection_mode)
			-fadd $(arg f_address)
			-fp $(arg f_port)
			-fl $(arg f_simulation)"
		output="screen"/>

</launch>