<launch>
	<arg
		name="device_name"
		default="base_valve"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="address"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyACM1"/>
	<arg
		name="simulation"
		default="False"/>
	<node
		name="base_valve"
		pkg="roslabware_drivers"
		type="base_valve"
		args="
			-d $(arg device_name)
			-c $(arg connection_mode)
			-add $(arg address)
			-p $(arg port)
			-l $(arg simulation)"
		output="screen"/>
</launch>
