<launch>
	<arg
		name="FV_device_name"
		default="Filtration_valve"/>
	<arg
		name="FV_connection_mode"
		default="serial"/>
	<arg
		name="FV_address"
		default="None"/>
	<arg
		name="FV_port"
		default="COM6"/>
	<arg
		name="FV_simulation"
		default="False"/>
	<node
		name="filtration_station"
		pkg="roslabware_drivers"
		type="Filtration"
		args="
			-fvd $(arg FV_device_name)
			-fvc $(arg FV_connection_mode)
			-fvadd $(arg FV_address)
			-fvp $(arg FV_port)
			-fvl $(arg FV_simulation)"
		output="screen"/>
</launch>