<launch>
	<arg
		name="device_name"
		default="fisher_balance"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="address"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyUSB0"/>
	<node
		name="fisher_pp14102"
		pkg="fisher_pp14102"
		type="fisher_pp14102"
		args="
			$(arg device_name)
			$(arg connection_mode)
			$(arg address)
			$(arg port)"
		output="screen"/>
</launch>
