<launch>
	<arg 
		name="device_name"
		default="kern_pcb2500"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="address"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyUSB0"/>
	<node 
		name="kern_pcb2500"
		pkg="kern_pcb2500"
		type="kern_pcb2500"
		args="
			$(arg device_name)
			$(arg connection_mode)
			$(arg address)
			$(arg port)"
		output="screen"/>
</launch>
