<launch>
	<arg 
		name="device_name"
		default="mettler_quantos"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="adress"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyUSB0"/>
	<node 
		name="mettler_quantos_qb1"
		pkg="mettler_quantos_qb1"
		type="mettler_quantos_qb1"
		args="
			$(arg device_name)
			$(arg connection_mode)
			$(arg address)
			$(arg port)"
		output="screen"/>
</launch>
