<launch>
	<arg
		name="device_name"
		default="OT2_Alpha"/>
	<arg
		name="connection_mode"
		default="tcpip"/>
	<arg
		name="address"
		default="169.254.227.210"/>
	<arg
		name="port"
		default="8000"/>
	<arg
		name="experiment_name"
		default="test"/>
	<arg
		name="simulation"
		default="False"/>
	<node
		name="OT2_"
		pkg="roslabware_drivers"
		type="Opentrons"
		args="
			-d $(arg device_name)
			-c $(arg connection_mode)
			-add $(arg address)
			-p $(arg port)
			-l $(arg simulation)
			-x $(arg experiment_name)"
		output="screen"/>
</launch>
