<launch>
<!-- OT2_Details -->
	<arg
		name="device_name"
		default="OT2_Beta"/>
	<arg
		name="connection_mode"
		default="tcpip"/>
	<arg
		name="address"
		default="169.254.244.251"/>
	<arg
		name="port"
		default="31950"/>
	<arg
		name="experiment_name"
		default="test"/>
	<arg
		name="simulation"
		default="False"/>
	<node
		name="OT2_Station"
		pkg="roslabware_drivers"
		type="Opentrons"
		args="
			-d $(arg device_name)
			-c $(arg connection_mode)
			-add $(arg address)
			-p $(arg port)
			-l $(arg simulation)
			-x $(arg experiment_name)"
		output="screen"/>

<!-- Filtration_Details -->
	<arg
		name="FV_device_name"
		default="Filtration_valve"/>
	<arg
		name="FV_connection_mode"
		default="serial"/>
	<arg
		name="FV_address"
		default="None"/>
	<arg
		name="FV_port"
		default="COM6"/>
	<arg
		name="FV_simulation"
		default="False"/>
	<node
		name="filtration_station"
		pkg="roslabware_drivers"
		type="Filtration"
		args="
			-fvd $(arg FV_device_name)
			-fvc $(arg FV_connection_mode)
			-fvadd $(arg FV_address)
			-fvp $(arg FV_port)
			-fvl $(arg FV_simulation)"
		output="screen"/>


</launch>
