<launch>
	<arg
		name="s_device_name"
		default="sash_door"/>
	<arg
		name="s_connection_mode"
		default="serial"/>
	<arg
		name="s_address"
		default="None"/>
	<arg
		name="s_port"
		default="COM5"/>
	<arg
		name="s_simulation"
		default="False"/>
	<node
		name="sash_door"
		pkg="roslabware_drivers"
		type="sash_door"
		args="
			-sd $(arg s_device_name)
			-sc $(arg s_connection_mode)
			-sadd $(arg s_address)
			-sp $(arg s_port)
			-sl $(arg s_simulation)"
		output="screen"/>
</launch>