<launch>
	<arg 
		name="device_name"
		default="tecan_xlp6000"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="address"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyACM0"/>
	<arg
		name="switch_address"
		default="0"/>
	<arg
		name="syringe_size"
		default="25.0"/>
	<arg
		name="switch_address"
		default="0"/>
	<node 
		name="tecan_xlp6000"
		pkg="tecan_xlp6000"
		type="tecan_xlp6000"
		args="
			$(arg device_name)
			$(arg connection_mode)
			$(arg address)
			$(arg port)
			$(arg switch_address)
			$(arg syringe_size)"
		output="screen"/>
</launch>
