<launch>
	<arg
		name="t_device_name"
		default="tecan_xlp6000"/>
	<arg
		name="t_connection_mode"
		default="serial"/>
	<arg
		name="t_address"
		default="None"/>
	<arg
		name="t_port"
		default="COM4"/>
	<arg
		name="t_switch_address"
		default="0"/>
	<arg
		name="t_syringe_size"
		default="25.0"/>
	<arg
		name="t_simulation"
		default="False"/>
	<node
		name="tecan_xlp6000"
		pkg="roslabware_drivers"
		type="tecan_xlp6000"
		args="
			-td $(arg t_device_name)
			-tc $(arg t_connection_mode)
			-tadd $(arg t_address)
			-tp $(arg t_port)
			-tl $(arg t_simulation)
			-tw $(arg t_switch_address)
			-tz $(arg t_syringe_size)"
		output="screen"/>
</launch>
