<launch>
	<arg
		name="device_name"
		default="tecan_xlp6000"/>
	<arg
		name="connection_mode"
		default="serial"/>
	<arg
		name="address"
		default="None"/>
	<arg
		name="port"
		default="/dev/ttyACM0"/>
	<arg
		name="switch_address"
		default="0"/>
	<arg
		name="syringe_size"
		default="25.0"/>
	<arg
		name="simulation"
		default="False"/>
	<node
		name="tecan_xlp6000"
		pkg="roslabware_drivers"
		type="tecan_xlp6000"
		args="
			-d $(arg device_name)
			-c $(arg connection_mode)
			-add $(arg address)
			-p $(arg port)
			-w $(arg switch_address)
			-z $(arg syringe_size)
			-l $(arg simulation)"/
		output="screen"/>
</launch>
