<launch>
 <!-- Weighing_Balance_Details -->

	<arg
		name="b_device_name"
		default="kern_pcb2500"/>
	<arg
		name="b_connection_mode"
		default="serial"/>
	<arg
		name="b_address"
		default="None"/>
	<arg
		name="b_port"
		default="COM12"/>
	<arg
		name="b_simulation"
		default = 'False'/>
	<node
		name="Kern_PCB2500_Driver"
		pkg="roslabware_drivers"
		type="kern_pcb2500"
		args="
			-bd $(arg b_device_name)
			-bc $(arg b_connection_mode)
			-badd $(arg b_address)
			-bp $(arg b_port)
			-bs $(arg b_simulation)"
		output="screen"/>


 <!-- Sash_and_Balance_Door_Details -->

	<arg
		name="s_name"
		default="Sash_and_Balance_Door"/>
	<arg
		name="s_connection_mode"
		default="serial"/>
	<arg
		name="s_address"
		default="None"/>
	<arg
		name="s_port"
		default="COM5"/>
	<arg
		name="s_simulation"
		default = 'False'/>
	<node
		name="sash_and_balance_door_driver"
		pkg="roslabware_drivers"
		type="sash_and_balance_door"
		args="
			-sd $(arg s_name)
			-sc $(arg s_connection_mode)
			-sadd $(arg s_address)
			-sp $(arg s_port)
			-ss $(arg s_simulation)"
		output="screen"/>

</launch>