<launch>
 <!-- Weighing_Balance_Details -->

	<arg
		name="b_device_name"
		default="kern_pcb2500"/>
	<arg
		name="b_connection_mode"
		default="serial"/>
	<arg
		name="b_address"
		default="None"/>
	<arg
		name="b_port"
		default="COM15"/>
	<arg
		name="b_simulation"
		default = 'False'/>
	<node
		name="Kern_PCB2500_Driver"
		pkg="roslabware_drivers"
		type="kern_pcb2500"
		args="
			-bd $(arg b_device_name)
			-bc $(arg b_connection_mode)
			-badd $(arg b_address)
			-bp $(arg b_port)
			-bs $(arg b_simulation)"
		output="screen"/>

</launch>