<launch>
 <!-- Weighing_Balance_Details -->

	<arg
		name="b_device_name"
		default="kern_pcb2500"/>
	<arg
		name="b_connection_mode"
		default="serial"/>
	<arg
		name="b_address"
		default="None"/>
	<arg
		name="b_port"
		default="COM12"/>
	<arg
		name="b_simulation"
		default = 'False'/>
	<node
		name="Kern_PCB2500_Driver"
		pkg="roslabware_drivers"
		type="kern_pcb2500"
		args="
			-bd $(arg b_device_name)
			-bc $(arg b_connection_mode)
			-badd $(arg b_address)
			-bp $(arg b_port)
			-bs $(arg b_simulation)"
		output="screen"/>


 <!-- Balance_Door_Details -->

	<arg
		name="k_name"
		default="Balance_Door"/>
	<arg
		name="k_connection_mode"
		default="serial"/>
	<arg
		name="k_address"
		default="None"/>
	<arg
		name="k_port"
		default="COM5"/>
	<arg
		name="k_simulation"
		default = 'False'/>
	<node
		name="Kern_door_driver"
		pkg="roslabware_drivers"
		type="kern_door"
		args="
			-kd $(arg k_name)
			-kc $(arg k_connection_mode)
			-kadd $(arg k_address)
			-lp $(arg k_port)
			-ks $(arg k_simulation)"
		output="screen"/>

</launch>